# 导出函数
export(run_scGeneANOVA)
export(calculateFC)

# 导入外部包的函数
importFrom(Seurat, FetchData, Idents, WhichCells, GetAssayData)
importFrom(dplyr, group_by, summarize, across, all_of, mutate, bind_rows, filter, select)
importFrom(tidyr, pivot_longer)
importFrom(stats, aov, TukeyHSD)
importFrom(utils, combn)
importFrom(progress, progress_bar)
importFrom(rlang, sym)
importFrom(magrittr, `%>%`) 
