# Export functions
export(run_scGeneANOVA)
export(calculateFC)


# Import functions from external packages
importFrom(Seurat, FetchData, Idents, WhichCells, GetAssayData)
importFrom(dplyr, group_by, summarize, across, all_of, mutate, bind_rows, filter, select)
importFrom(tidyr, pivot_longer)
importFrom(stats, aov, TukeyHSD)
importFrom(utils, combn)
importFrom(progress, progress_bar)
importFrom(rlang, sym)
importFrom(magrittr, `%>%`)
